@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.frame {
  display: inline-block;
  padding: 2em;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.frame:not(:first-child) {
  border-left: 1px solid #ccc;
}

.tabbed {
  .tab-title {
    font-size: 14px;
    display: inline-block;
    padding: .8em 1.8em;
    color: #fff;
    background-color: #555;
    cursor: pointer;
  }

  .tab-title.active {
    background-color: #58C8F1;
    text-shadow: 0 1px 3px #555;
    cursor: default;
  }

  .tab-title:not(.active):hover {
    background-color: #666;
  }

  .tab-content {
    padding: 2em .5em;
    border-top: 2px solid #58C8F1;
    color: #444;
    font-size: 14px;
  }
}

.input-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: .5em;

  .card-value {
    cursor: default;
    position: relative;
    width: 2.1em;
    color: #eee;
    font-weight: bold;
    align-items: stretch;
    border-radius: 6px;
    background-color: #666;

    div {
      position: absolute;
      width: 100%;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
    }
  }

  .input-div {
    padding: 8px;
    width: 100%;

    textarea {
      width: 100%;
      color: #444;
      border: none;
      height: auto;
      resize: none;
      overflow: hidden;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }
  }
}
