.card {
  cursor: default;
  position: relative;
  width: 28px;
  height: 38px;
  color: #eee;
  border-radius: 6px;
  background-color: #666;
  margin: 0 .2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}
