@import 'reset';

.frame {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  padding: 2em;
  width: 50%;
  height: 100%;
}

.frame:last-of-type {
  border-left: 1px solid #ccc;
}
